/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 80%;
    padding: 34px;
    margin: auto;
}
.container h1{
    text-align: center;
    font-family: 'sriracha', cursive;
    font-size: 40px;
}
p{
    font-size: 17px;
    text-align: center;
    font-family: 'sriracha', cursive;
}
input, textarea{
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}

.bg{
    width: 100%; */
    /* height: auto;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
}
.submitMsg{
    color:green;
} */

*{
    margin:0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important ;
}
.navbar-brand img{
    height: 40px;
    padding-left: 20px;    
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    /* float: right;
    text-align: left; */
}
.fa-bars{
   color: #fff;
   font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}

/* <!----------------footer section------------------------> */
#footer{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
}
.footer-img{
    width: 100%;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}
.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;   

}
.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

hr{
    background-color: #fff;
}
.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}